.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f7;
}

.form-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
}